.notebook-container{
    background-color: #0C0824;
    position: relative;
    width: 100%; 
    height: 300px;
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

   
}



.about-notebook{
   font-size: 30px;
   font-weight: bold;
   color: #FFF;
   margin-right: 265px;
   justify-content: center;
   align-items: center;
   display:flex;
   
   

}

.kitsune-notebook{
    font-size: 15px;
    color: #FFF;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.notebook-image{
    float: right;
    max-width: 50%;
    position: absolute;
    top: -50px;
    right: -50px;
    
}

.circle-notebook {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgba(209, 41, 65, 0.51);
  z-index: 1;
  margin-right: 300px;
  margin-top: 80px;
  }
  
