.endpage {
  margin-top: 600px;
  display: flex;
  flex-direction: row;
  
}

.left-half {
  width: 65%;
  font-weight: bold;
  color: #fff;
  background-color: #d12941;
  font-size: 25px;
  
  
  
}

.endpage-message{
  justify-content: center;
  align-items: center;
  display:flex;
  margin-top: 65px;
  margin-right: 605px;
  
}

.endpage-description{
  justify-content: center;
  align-items: center;
  display:flex;
  margin-right: 450px;

  

}
.right-half {
  height: 220px;
  width: 35%;
  font-weight: bold;
  color: #fff;
  background-color: #0c0824;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 30px;
  
  
}



.contact-info{
  margin-left: 170px;
  }

  .footer-links img {
    transition: filter 0.5s ease-in-out;
  }
  
  .footer-links img:hover {
    filter: invert(60%);
  }
  