
* {
    margin: 0;
    padding: 0;
    border: none;
  }
  
  
  body {
    font-family: 'Noto Sans Tamil', sans-serif;
    font-size: 16px;
  }
  
 
  nav, ul {
    list-style: none;
  }
  
 
  a {
    text-decoration: none;
  }
  
  
  * {
    box-sizing: border-box;
  }
  